extends layout

block content
    h1.mt-3= article.title
    h3.mt-2 Written by: #{author} 
    p= article.body 
    hr
    if user
        if user._id == article.author
            a.btn.btn-dark(href='/articles/edit/'+ article.id) Edit Post
            a.ml-3.btn.btn-danger.ajax-delete(href='#', data-id=article.id) Delete Post
